{
    "organization": "ethan",
    "account": "weaveqbmxWqUwhfuBMhiYMvPCndc3TnzAf8cU1J6CBpeFPbu2",
    "scope": "*",

    "chainClientConfig": {
        "apiVersion" : 1,

        "seed" : "099cdbbe4213bff84ec9c051749e090e",
        "privateKeyFile" : "/app/config/ethan.pvk",
        "publicKeyFile" : "/app/config/ethan.pub",

        "http": {
            "host": "ethsf24.weavechain.com",
            "port": 10443,
            "useHttps": true
        }
    }
}
